* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif
}

.logo {
  left: 0;
  top:0;
}

header {
  display: flex;
  background-color: black;
  color: white;
  font-size: 20px;
  height: 70px;
  list-style: none;
  text-decoration: none;
  justify-content:space-evenly;
}

header a {
  color: white;
}

header a:visited {
  color: purple;
}

body {
  background: rgb(238, 237, 237);
  text-align: center;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.sub-menu {
  list-style: none;
  transition: all 500ms;
  display: none;
}

h3:hover + .sub-menu {
  display: block;
}

.sub-menu:hover {
  display: block;
}

.sub-menu a {
  text-decoration: none;
}

.sub-menu .a:hover {
  text-decoration:underline;
}

p {
  border: 3px black solid;
  align-items: stretch;
  justify-content: space-around;
  margin-left: 450px;
  margin-top: 10px;
  margin-right: 450px;
}

.p2 {
display: flex;
flex-direction: column;
position: fixed;
}

.p3 {
  display: flex;
  flex-direction: column;
  position: fixed;
  fill: black;
}

.bildobjekt {
  display: flex;
  justify-content:space-evenly;
  align-items:stretch;
}

.bildobjekt img {
  width: 30%;
  height: auto;
  justify-content: space-between;
}

.bildobjekt2 {
  display: flex;
  justify-content:space-evenly;
  align-items:stretch;
}

.bildobjekt2 img {
  margin-top: 10%;
  width: 30%;
  height: auto;
  justify-content: space-between;
}

.footer {
position:fixed;
background-color: black;
color: white;
display: flex;
flex-direction: row;
flex-wrap: wrap;
left: 0;
bottom: 0;
width: 100%;
justify-content: space-evenly;
text-decoration: none;
}
